.container {
  display: inline-block;
  height: 38px;
  width: 38px;
  position: relative;
}

.container input {
  height: 0;
  width: 0;
  opacity: 0;
}

.check {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.check:before {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  content: "✓";
  font-size: 52px;
}

input:checked + .check:before {
  opacity: 1;
  transform: scale(1);
}
